@{
    ViewData["Title"] = "Error";
}
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
<div class="container body-content">
    <p class="text-danger" style="padding-top: 130px; text-align: center;">
        <strong>Error!</strong>
        <br />
        @Html.Raw(TempData["ErrorMessage"])
        <br />
        <br />
        <br />
        <br />
        <input id="close" type="button" value="Close" class="btn btn-default" />
    </p>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#close").click(function () {
            parent.location.reload();
        });
    });
</script>